.user
  display flex
  width 725px
  background #fff
  padding 30px 0 30px 25px
  margin-top 15px
  border-top 1px solid #eee
  border-bottom 1px solid #dcdcdc
  box-shadow 0 2px 5px #eeeeee
  .userinfo-avatar
    width 100px
    height 100px
    border-radius 80px
  .user-info
    margin-left 30px
    text
      display block
    .userinfo-nickname
      padding 8px 0 10px 0
      font-size 30px
      color #818A8F
    .edit
      font-size 30px
      color #bababa
      line-height 34px

.my
  margin-top 15px
  border-top 1px solid #ebebeb
  border-bottom 1px solid #ebebeb
  .myitem
    display flex
    width 750px
    background #fff
    padding 0
    .myitem-icon
      display flex
      flex 1
      justify-content center
      align-items center
      .myitem-img
        width 40px
        height 40px
    .myitem-name
      flex 5
      text-align left
      font-size 34px
      color #6d6d6d
      line-height 60px
      padding 30px 0
      border-bottom 1px solid #ebebeb
    &:last-child .myitem-name
      border-bottom none
